html,
body {
  background-color: #222;
  color: var(--textColor);
  font-family: 'Muli', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  opacity: 0;
  overflow: hidden;
}

:root {
  --activeNav: #ff9999;
  --activeNavDark: #FF8989;
  --border: #bbb;
  --textColor: #555;
  --placeHolder: #ffcccc;
}

.flexRow {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flexCol {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pointer {
  cursor: pointer;
  user-select: none;
}

.fullSize {
  height: 100%;
  width: 100%;
}

.fullHeight {
  height: 100%;
}

.fullWidth {
  width: 100%;
}

.active {
  color: var(--activeNav);
}

/* ANIMATIONS */

body {
  transition: opacity 0.5s;
}

.itemContainer:hover {
  background-color: var(--activeNavDark);
}

.itemContainer:hover > .itemImg {
  opacity: 0.2;
}

.itemDescription {
  transition: top 0.3s;
  transition-timing-function: cubic-bezier(.07,1.07,.96,1.03);
}

.itemContainer:hover > .itemDescription {
  top: 50%;
  z-index: 3;
}

#closeViewer {
  transition: left 0.5s;
}

.itemContainer:hover > .itemContents > .itemBtns > .addToCartBtn,
.itemContainer:hover > .itemContents > .itemBtns > .viewBtn {
  opacity: 1;
  transition: opacity 0.5s;
  transition-delay: 0.1s;
  transition-timing-function: cubic-bezier(.74,.24,.89,1.05);
  transition-timing-function: cubic-bezier(.09,1.31,.83,1.29);
}

.addToCartBtn,
.viewBtn {
}

.addToCartBtn:hover,
.viewBtn:hover {
  background-color: #282828;
  background-color: #232323;
  border-color: #232323;
}

.addToCartBtn:hover p,
.viewBtn:hover p {
  color: #bbb;
  color: var(--activeNav);
}


/* <!-- SHOPPING CAR --> */
#cart {
  color: #737373;
  font-size: 2em;
  left: 3.2rem;
  position: absolute;
  top: 3.2rem;
  z-index: 2;
}

#cart p {
  color: var(--activeNav);
}

#cartAmount {
  background-color: #404040;
  border-radius: 50%;
  height: 1.2em;
  left: 0.8em;
  position: relative;
  top: -1.8em;
  width: 1.2em;
}

#cartAmount p {
  font-size: 0.8em;
  margin: 0;
}

.movingImg {
  background-color: #282828;
}

.movingImg img {
  height: 100%;
  width: 100%;
}

/* <!-- CONTAINER --> */
#container {
  height: 100vh;
  width: 100vw;
}

/* <!-- NAVIGATION BAR --> */
#navigationBar {
  background-color: #111;
  color: #fff;
  height: 22vh;
  justify-content: center;
  margin-top: 0;
  position: relative;
  width: 100vw;
  word-spacing: 0em;
}

#logo {
  color: #fff;
  height: 100%;
  left: 10%;
  overflow: hidden;
  position: absolute;
}

#navigationBar #logo p {
  font-size: 12em;
  font-weight: 100;
  margin: 0;
  opacity: 0.05;
  position: relative;
  top: 0.04em;
  z-index: 1;
}

#navigationBar p {
  letter-spacing: 3px;
  margin: 0 2em;
  z-index: 2;
}

#navigationBar span {
  color: #bbb;
  position: relative;
  top: -0.2rem;
}
/* <!-- HOMEPAGE --> */
#homePage {
  height: 80vh;
  justify-content: space-between;
  position: relative;
  width: 100vw;
}

.homePageImg {
  background-color: #eee;
  background-color: #fff;
  height: 4em;
  position: absolute;
  width: 4em;
}

.homePageImg[data="1"] {
  height: 22em;
  left: 0%;
  top: 15%;
  width: 15em;
}

.homePageImg[data="2"] {
  height: 24em;
  left: 14%;
  top: 42%;
  width: 17em;
}

.homePageImg[data="3"] {
  height: 34em;
  left: 35%;
  top: 30%;
  width: 19em;
}

.homePageImg[data="4"] {
  height: 42em;
  left: 56%;
  top: 4%;
  width: 31em;
}

.homePageImg[data="1"] img {
  opacity: 0.1;
}

.homePageImg[data="2"] img {
  opacity: 0.3;
}

.homePageImg[data="3"] img {
  opacity: 0.6;
}

.homePageImg[data="4"] img {
  opacity: 0.8;
}

/* <!-- SHOP --> */
#shop {
  align-items: flex-start;
  background-color: #2c2c2c;
  background-color: #232323;
  color: #fff;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 77em;
  overflow: scroll;
  width: 80vw;
}

.itemContainer {
  background-color: #282828;
  background-color: #212121;
  font-weight: 100;
  height: 22.8em;
  margin: 1em;
  margin-bottom: 3.2em;
  min-width: 16em;
  overflow: hidden;
  position: relative;
}

.itemContents,
.moveToCartImg {
  left: 0;
  position: absolute;
  top: 0;
  width: 101%;
  z-index: 2;
}

.moveToCartImg {
  z-index: -1;
}

.itemContents img {
  border: 0.001em solid #111;
  width: 98%;
}

.itemImg {
}

.itemBtns {
  height: 40%;
  justify-content: flex-start;
  position: absolute;
  top: -40%;
}

.itemIconBtns {
  height: 40%;
  justify-content: flex-start;
  position: absolute;
  top: -44%;
  flex-wrap: wrap;
  width: 10em;
}

.btnIcon {
  color: #222;
  width: 50%;
  height: 5em;
  z-index: 4;
}

.btnIcon > * {
  font-size: 3.2em;
}

.addToCartBtn,
.viewBtn {
  border: 0.01em solid #111;
  height: 3.2em;
  margin: 0.4em;
  opacity: 0;
  width: 80%;
}

.addToCartBtn p,
.viewBtn p {
  color: #111;
  font-size: 1.6em;
}

.itemDescription {
  background-color: #2c2c2c;
  background-color: #232323;
  justify-content: flex-start;
  position: relative;
  top: 84%;
  border-top: 0.001em solid #111;
}

.itemDescriptionTitle {
  height: 16%;
  justify-content: space-around;
}

.itemDescriptionText {
  color: var(--activeNav);
}

/* <!-- SHOP SECTION --> */
#shopSection {
  height: 78vh;
  width: 100vw;
}

#sideBar {
  background-color: #282828;
  background-color: #212121;
  background-color: #1E1E1E;
  border-right: 0.1em solid #222;
  color: #fff;
  justify-content: flex-start;
  overflow: scroll;
  width: 20vw;
}

.itemBlock {
  height: 10em;
  justify-content: flex-start;
  margin: 2em 0.5em;
  width: 90%;
}

.imgBlock {
  background-color: #333333;
  background-color: #212121;
  border: 0.001em solid #333;
  margin: 1em;
  width: 10em;
}

.costBlock {
  font-weight: 100;
  width: 4em;
}

.costBlock p {
  margin: 0;
}

.multiple {
  color: var(--activeNav);
  font-size: 1.6em;
}

.deleteBlock {
  font-weight: 100;
}

.deleteBlock p {
  color: var(--activeNav);
  font-size: 1.2em;
  margin: 0;
}

.quantityBtns {
  justify-content: space-between;
  width: 6em;
}

.quantityBtns p {
  background-color: #3D3D3D;
  border-radius: 50%;
  font-size: 2em;
  height: 1.4em;
  text-align: center;
  width: 1.4em;
}

/* <!-- CLOSE VIEW --> */
#closeViewer {
  background-color: #fff;
  left: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
}























.none {
  display: none;
}
